<div id='main'>
        <div class="palm-page-header multi-line">
	       <div class="palm-page-header-wrapper">
		<div class="header" id="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Netstat 1.0.10</div>
	       </div>
        </div>

        <div class="palm-list" style="-webkit-palm-mouse-target: ignore;">
            <div id="InterfaceList" x-mojo-element="List"></div> 
        </div>

	<div style="color: red; margin-left: 15px;" id="warning"></div>

	<!-- Footer -->
	<div id="app-footer" style="text-align: center">
		<hr/>
		&copy; 2009-2010 <a href="http://www.daemon.de/">Thomas Linden</a>
	</div>        
</div>

