<div class="palm-page-header">
        <div class="palm-page-header-wrapper">
                <div class="icon news-mini-icon"></div>
                <div class="title">     Netstat Preferences</div>
        </div>
</div>

<div class="palm-group">
        <div class="palm-group-title">
                <span>Accounting Period Settings</span>
        </div>
	<div class="palm-list">
            <div x-mojo-element="IntegerPicker" id="startday"></div>
        </div>
</div>

<div class="palm-group">
        <div class="palm-group-title">
                <span>Traffic Limit Settings (WAN only)</span>
        </div>
	<div class="palm-list">
            <div x-mojo-element="IntegerPicker" id="limit" style="text-align: right"></div>
        </div>
</div>

<div class="palm-group">
        <div class="palm-group-title">
                <span>Reset Accounting Counters</span>
        </div>
	<div class="palm-list">
	  <div x-mojo-element="Button" id="resetbutton" class="buttonClass" name="resetbutton"></div>
        </div>
</div>
