<div id='showabout'>
        <div class="palm-page-header multi-line">
                <div class="palm-page-header-wrapper">
                        <div id="storyViewTitle" class="title left">About Netstat 1.0.10:</div>
                </div>
        </div>

	<div style="margin: 20px; text-align: justify;">
	This is Netstat 1.0.10.<br/><br/>

	Requires "Netstat Daemon" version 1.0.10.<br/><br/>

	This app displays the traffic amounted on the wifi, wan and bluetooth interfaces
	during the current month (or current period, see below). It requires a daemon to be installed
	for this: <b>org.daemon.de.netstatd</b>.<br/><br/>

	The day when the accounting period restarts can be tuned. Counters will be reset
	to zero on that day. The default is to reset counters on the 1st of every month.<br/><br/>
	If your accounting period starts on 29th - 31th of a month, set it to 1.<br/><br/>
	You may also reset counters manually on the preferences screen. Be careful however,
	traffic data cannot be restored after a reset.
	<ul>
	  <li>
	    <a href="http://www.daemon.de/PalmPreNetstat">Visit the Homepage</a>
	  </li>
	  <li>
	    <a href="https://www.nomed.de/forum/list.php?40">Fehler melden [de]</a>
	  </li>
	  <li>
	    <a href="http://forums.precentral.net/homebrew-apps/219365-netstat-network-traffic-monitor-app.html">Report a bug [en]</a>
	  </li>
	  <li>
	    <a href="http://git.webos-internals.org/?p=applications/netstat.git;a=summary">App source code</a>
	  </li>
	  <li>
	    <a href="http://git.webos-internals.org/?p=daemons/netstatd.git;a=summary">Daemon source code</a>
	  </li>
        </ul>
	</div>
        
        <!-- Footer -->
        <div id="app-footer" style="text-align: center">
                <hr/>
                &copy; 2009-2010 <a href="http://www.daemon.de/">Thomas Linden</a>
        </div>        
</div>
